.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  background: rgba(247, 177, 171, 1);
}

.slogan {
  padding: 8px 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Montserrat", sans-serif;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo-header {
  width: 190px;
}

.header-btns {
  display: flex;
  gap: 8px;
}
