* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.content-header {
  background-color: rgb(224, 198, 198);
  width: 100%;
  height: 60px;
}



/* TABLE STYLE */
.container-table {
  display: flex;
  justify-content: center;
  padding: 140px 0;
}

.table-orders {
  border-collapse: collapse;
}

.table-orders td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  padding: 20px;
}

.table-orders th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    padding: 20px;
}

.table-orders td {
  padding: 20px;
}
